<?xml version="1.0"?>
<config>
    <modules>
        <AAGlobal_Discount>
            <version>1.0.0</version>
        </AAGlobal_Discount>

    </modules>
    <global>
        <helpers>
            <aaglobal_discount>
                <class>AAGlobal_Discount_Helper</class>
            </aaglobal_discount>
        </helpers>
        <blocks>
            <aaglobal_discount>
                <class>AAGlobal_Discount_Block</class>
            </aaglobal_discount>
        </blocks>
        <models>
            <aaglobal_discount>
                <class>AAGlobal_Discount_Model</class>
                <resourceModel>aaglobal_discount_mysql4</resourceModel>
            </aaglobal_discount>
            <aaglobal_discount_mysql4>
                <class>AAGlobal_Discount_Model_Mysql4</class>
                <entities>
                    <discount>
                        <table>aaglobal_discount_discount</table>
                    </discount>
                </entities>
            </aaglobal_discount_mysql4>
            <aaglobal_discount_discount>
                <class>AAGlobal_Discount_Model_Discount</class>
                <entities>
                    <Discount>
                        <table>aaglobal_discount_discount</table>
                    </Discount>
                </entities>
            </aaglobal_discount_discount>

        </models>
        <resources>
            <aaglobal_discount_write>
                <connection>
                    <use>aaglobal_discount_setup</use>
                </connection>
            </aaglobal_discount_write>
            <aaglobal_discount_read>
                <connection>
                    <use>aaglobal_discount_setup</use>
                </connection>
            </aaglobal_discount_read>
            <aaglobal_discount_setup>
                <setup>
                    <module>AAGlobal_Discount</module>
                </setup>
            </aaglobal_discount_setup>
        </resources>
    </global>
    <frontend>
        <events>
<!--            <checkout_cart_add_product_complete>
                <observers>
                    <aaglobal_discount>
                        <class>aaglobal_discount/cart</class>
                        <method>init</method>
                    </aaglobal_discount>
                </observers>
            </checkout_cart_add_product_complete>-->
                <checkout_cart_product_add_after>
                    <observers>
                        <setadiscountprice>
                            <class>AAGlobal_Discount_Model_Cart</class>
                            <method>discount</method>
                        </setadiscountprice>
                    </observers>
                </checkout_cart_product_add_after>

        </events>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <AAGlobal_Discount before="Mage_Adminhtml">AAGlobal_Discount_Adminhtml</AAGlobal_Discount>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <aaglobal_discount>
                    <file>aaglobal/discount.xml</file>
                </aaglobal_discount>
            </updates>
        </layout>

    </adminhtml>
</config>